.grid-item{
    background-color: rgb(228, 83, 107);
    color: white;
    border: 3px solid orange;

}
/* FIXED SIZED GRID */
/* not responsive-the width and h fixed  */
.grid-container-fixed{
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: 300px 300px;

}

/* AUTO SIZED grid-responsive */
 .grid-container-auto{
    display: grid;
    /* frist row  100px and 2nd row just takes the size of content */
    /* auto on a row-fit content */
    grid-template-rows: 100px auto; 
    /* first colm 200px and 2nd colm takes all remaining available space */
    /* auto on a col-takes 100% */
    grid-template-columns: 200px auto;
}  

/* FRACTIONAL SIZING */
 .grid-container-fractional{
    display: grid;
    /* frst row half of secnd row */
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    /* fit acc to w and h of page-responsive */
} 

/* MINMAX SIZE */
/* defines min and max widths */
/* sets a limit-col or rows dont go too narrow or too wide */
.grid-container-minmax{
    display: grid;
    grid-template-rows: 200px 400px;
    grid-template-columns: 200px minmax(400px,800px);
}

/* REPEAT */
/* if we have to repeat the same value of px */
/* if we have 8 rows of 100px each-just write rows:repeat(8,100px) */
.grid-container-repeat{
    display: grid;
    grid-template-rows: repeat(2,200px);
    grid-template-columns: repeat(2,500px);
}